
.workcard{
    display:flex;
    flex-direction: column;
}
.cardimg{
    height:407px;
    background-color: var(--background-gray);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.cardtext{
    height:auto;
    margin-top: 24px;

}
