
.testimonials{
    width:100%;
    background-color: var(--background-black);
    padding: 9.625rem 2.5rem 10rem 2.5rem ;
    text-align: center;

}
.testimonials h2{
    font-size: 48px;
    line-height: 48px;
    color:var(--logo-color);
    margin-bottom: 90px;
}
/* embla css------------------- */
.embla{
    overflow: hidden;
}
.embla_container{
    display: flex;
}





